/* ヘッダー全体 */
.header {
    display: flex;
    align-items: center;
    background-color: #000b29;
    height: 70px;
    width: 100%;
    /* position: fixed; */
    top: 0; left: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ロゴ */
.header-logo {
    width: 120px;
    flex-shrink: 0;
    margin-left: 40px;
}

/* 検索バー */
.search-bar {
    position: relative;
    display: inline-block;
    width: 200px;
}

.search-input {
    border: none;
    border-bottom: 2px solid #edb83d;
    width: 100%;
    padding-left: 30px;
    background: #000B29;
    color: #FFF;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 120px;
    color: #EDB83D;
}

/* 各リンク、ボタン */
.header-contents-area {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    padding-bottom: 0%;
}

.project-link {
    font-size: 16px;
    color: #FFF;
    display: inline-block;
    margin: 0 15px;
}

.login-button {
    width: 80px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #000B29;
    color: #EDB83D;
    border: 2px solid #EDB83D;
    font-size: 12px;
    margin-left: 15px;
}

.signUp-button {
    width: 80px;
    height: 31px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
    background: #EDB83D;
    font-size: 12px;
    margin-left: 15px;
}

.user-content {
    margin-left: 30px;
    width: 200px;
    white-space: nowrap;
    display: flex; /* Flexコンテナとして要素を横に配置 */
    align-items: center; /* 子要素を垂直方向に中央揃え */
}

.user-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px; /* アイコンとユーザー名の間に余白を設ける */
}

.user-name {
    color: #FFFFFF;
    margin: 0; /* マージンをリセットして余白を除去 */
}
