/* サムネイルのプレビュー */
.previewImg {
    max-height: 140px;
    max-width: 200px;
    display: block;
    margin: auto;
    border: 1px solid gray;
}

/* 非表示 */
.noneDisplay{
    display: none;
}

.user_icon_ft {
    width: 70px;
    height: 70px;
    /* その他のスタイルプロパティ */
}